In [1]:
#pip install pandas

In [ ]:
import psycopg2
import pandas as pd

In [ ]:
def create_database():
    #connect default datbase
    #conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=root")
    conn = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("Drop DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts") 
    
    # close connection to default database
    conn.close()
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=accounts user=postgres password=Cash@9129300")
    cur = conn.cursor()
    
    return cur, conn

In [ ]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commmit()

In [ ]:
AccountsCountry = pd.read_csv("data/Wealth-AccountsCountry.csv")

In [ ]:
AccountsCountry.head()

In [ ]:
AccountsCountry_clean = AccountsCountry[['Country Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [ ]:
AccountsCountry_clean.head()

In [10]:
AccountsData = pd.read_csv("data/Wealth-AccountData.csv")

In [11]:
AccountsData.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.34E+10,3.71E+10,3.88E+10,4.22E+10,4.36E+10,...,6.610000e+10,6.810000e+10,6.850000e+10,7.080000e+10,7.160000e+10,7.250000e+10,7.370000e+10,7.57E+10,7.80E+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,13708.99,11794.1,12399.48,13573.26,14118.13,...,2.258200e+04,2.336286e+04,2.359058e+04,2.439397e+04,2.473162e+04,2.509002e+04,2.559371e+04,26326.26,27160.86,28333.68
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3355.549,2868.997,3013.391,3259.893,3424.007,...,2.825336e+03,2.889150e+03,2.848523e+03,2.930234e+03,2.954273e+03,2.957420e+03,2.987545e+03,3072.504,3178.417,3312.927
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6353.737,5466.692,5901.072,6492.73,6872.019,...,1.525319e+04,1.578992e+04,1.579854e+04,1.647360e+04,1.681013e+04,1.699138e+04,1.730701e+04,17817.1,18445.94,19245.19
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4737.857,4059.321,4191.445,4536.972,4695.071,...,3.529144e+03,3.613606e+03,3.603694e+03,3.683810e+03,3.696744e+03,3.719608e+03,3.767628e+03,3872.142,3992.188,4161.137

In [12]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [13]:
AccountsData = AccountsData.drop(['2018'],axis=1)

In [14]:
AccountsData_clean = AccountsData[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1995', '2000','2005','2010', '2014' ]]

In [15]:
AccountsData_clean .head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,2000,2005,2010,2014
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.36E+10,5.440000e+10,6.810000e+10,7.250000e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,14118.13,1.807230e+04,2.336286e+04,2.509002e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3424.007,2.222115e+03,2.889150e+03,2.957420e+03
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6872.019,1.168935e+04,1.578992e+04,1.699138e+04
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4695.071,2.886736e+03,3.613606e+03,3.719608e+03

In [16]:
AccountsSeries = pd.read_csv("data/Wealth-AccountSeries.csv")

In [ ]:
AccountsSeries.columns

In [ ]:
AccountsSeries_clean = AccountsSeries[['Series Code', 'Topic', 'Indicator Name', 'Long definition']]

In [ ]:
AccountsSeries_clean.head()

### Create Data model in Draw.io

### Create Table

In [ ]:
cur, conn = create_database()

NOW in Table structure we define country code as primary key but in csv file of Accountscountry data table country_code column contain duplicate values which throws error so we don't take country_code VARCHAR as PRIMARY KEY.

In [ ]:
# accounts_country_table_create = ("""CREATE TABLE IF NOT EXISTS accountscountry(
# country_code VARCHAR PRIMARY KEY,
# short_name  VARCHAR,
# table_name  VARCHAR,
# long_name   VARCHAR,
# currency_unit  VARCHAR
# )""")

In [ ]:
accounts_country_table_create = ("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR,
short_name  VARCHAR,
table_name  VARCHAR,
long_name   VARCHAR,
currency_unit  VARCHAR
)""")

In [ ]:
cur.execute(accounts_country_table_create)
conn.commit()

In [ ]:
accounts_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR,
country_code VARCHAR,
indicator_name VARCHAR,
indicator_code VARCHAR,
year_1995 numeric,
year_2000 numeric,
year_2005 numeric,
year_2010 numeric,
year_2014 numeric
)""")
cur.execute(accounts_data_table_create)
conn.commit()

In [ ]:
accountseries_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountseries(
series_code VARCHAR,
topic  VARCHAR,
indicator_name  VARCHAR,
long_definition VARCHAR
)""")
cur.execute(accountseries_data_table_create)
conn.commit()

### Insert Data into Table

In [ ]:
accounts_country_table_insert = ("""INSERT INTO accountscountry(
country_code,
short_name,
table_name,
long_name,
currency_unit)
VALUES (%s, %s, %s, %s, %s)
""")

In [ ]:
for i, row in AccountsCountry_clean.iterrows():
        cur.execute(accounts_country_table_insert, list(row))

In [ ]:
conn.commit()

In [ ]:
accounts_data_table_insert = ("""INSERT INTO accountsdata(
country_name,
country_code,
indicator_name,
indicator_code,
year_1995,
year_2000,
year_2005,
year_2010,
year_2014)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

In [ ]:
accountseries_data_table_insert = ("""INSERT INTO accountscountry(
series_code,
topic,
indicator_name,
long_definition)
VALUES (%s, %s, %s, %s)
""")